*{
    margin: 0;
    padding: 0;
   box-sizing:border-box;
   font-family: monospace;
}
html,body{
    height: 100%;
    width: 100%;
    color: #060606;
    font-family: 'Gilroy';
}
body{ 
    font-family: 'Verdana';
    padding: 2vh;
    font-size: 2vh;
    color: black;
}
button{
    font-size: 3vw;
    margin: 2vh;
}